.App {
  text-align: center;
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 10px;
  margin: 0 auto;
}

.form {
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}